.map__container {
  /* min-width: 880px; */
  min-height: 350px;
  position: relative;
}
.btn {
  position: absolute;
  right: 0rem;
  top: 0rem;
  z-index: 10000;
  width: 50px;
  height: 30px;
  background: none;

  font-size: 1.3rem;
  text-align: center;
}

.btn:hover {
  background: rgb(99, 99, 99);
  cursor: pointer;
}

.dropBox {
  position: absolute;
  right: 0rem;
  top: 2rem;
  z-index: 10000;
  text-align: left;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  width: 120px;
  height: 0px;
  overflow: hidden;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  transition: all 0.3s linear;
}
.dropBox > a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.3rem 0.3rem;
  transition: 0.1s linear all;
}
.dropBox > :nth-child(1) {
  border-top-left-radius: 7px;
}
.dropBox > :nth-child(3) {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.dropBox > :nth-child(1):hover {
  background: rgb(255, 97, 97);
}
.dropBox > :nth-child(2):hover {
  background: rgb(97, 255, 105);
}
.dropBox > :nth-child(3):hover {
  background: rgb(88, 86, 86);
  color: white;
}

.show {
  height: 80px;
}
