@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");

:root {
  --clr-primary-color: rgba(255, 255, 255, 0.863);
  --ff-primary: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #000000;
  font-family: var(--ff-primary);
}
